.profile_post {
  .post {
    display: flex;
    margin-bottom: 4rem;
    img {
      width: 50%;
      height: 50rem;
      object-fit: cover;
      border-radius: 1rem;
      margin-right: 3rem;
    }
    .con {
      width: 50%;
      h1 {
        font-size: 3.2rem;
      }
      .stats {
        font-size: 2rem;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #727272;
        a {
          text-decoration: none;
          color: #324fdd;
        }
      }
      p {
        font-size: 2rem;
      }
      button {
        padding: 1.5rem 4rem;
        border: none;
        border-radius: 1rem;
        background-color: #324fdd;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        margin-top: 5rem;
        font-size: 2rem;
      }
    }
  }
}
