.logo {
  font-size: 5rem;
  font-weight: 700;
  color: #272626;
  cursor: pointer;
}

.logo__small {
  font-size: 3rem;
}
.logo__span {
  position: relative;
  color: #4242d6;
}
.logo__span::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 2rem;
  height: 0.5rem;
  background-color: #4242d6;
}
