.create_post {
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
  }
  .form {
    width: 70rem;
    display: flex;
    flex-direction: column;
    label {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    input {
      padding: 1rem 2rem;
      margin-bottom: 2rem;
    }
    textarea {
      height: 30rem;
    }
  }
  button {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #324fdd;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
  }
}
