.nav {
  margin: 4rem 0;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-right: 2rem;
}

.nav__link {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav__link--active {
  color: #fff;
  background-color: #324fdd;
  border-radius: 1rem;
}
