.footer {
  font-size: 1.6rem;
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  grid-gap: 4rem;

  align-items: baseline;
}

.footer__text {
  margin-top: 2rem;
}

.footer__resources {
  list-style: none;
}

.resources__item {
  margin-bottom: 1.5rem;
}

.footer__about {
  list-style: none;
}

.about__item {
  margin-bottom: 1.5rem;
}

.footer__help {
  list-style: none;
}

.help__item {
  margin-bottom: 1.5rem;
}

.highlighted {
  font-size: 2rem;
  font-weight: 700;
}
