.author_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 35rem;
}

.author__img {
  width: 10rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.author__name {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.btn-follow {
  font-size: 1.6rem;
  padding: 1.4rem 4rem;
  border: none;
  border-radius: 2rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
  margin-right: 2rem;
}

.bookmark {
  width: 10rem;
  background-color: #324fdd;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  color: #fff;
}
