.best-container {
  width: 50%;
}
.post_container {
  display: flex;
  margin-bottom: 2rem;
}
.post-img2 {
  width: 40%;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
}

.dt-title {
  width: 50%;
}

.best-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.best__title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
