@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.blog {
  font-family: "Play", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-login {
  position: relative;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
