.post-container {
  margin: 0 3rem;
  width: 95%;
}

.post-img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.post-author {
  font-size: 1.6rem;
}

.post-author span {
  font-style: italic;
}

.blog-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.blog-text {
  font-size: 2rem;
}
