.profile_info {
  margin-top: 10rem;
  display: flex;
  align-items: center;

  img {
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 4rem;
    border-radius: 50%;
  }
  .con {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
    }
    .conn {
      display: flex;
      .con_1 {
        margin-right: 4rem;
      }
      p {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
      }
    }
  }
}
