.login-container {
  display: flex;
  align-items: center;
}

.bell-icon {
  margin-right: 2rem;
  width: 10rem;
  aspect-ratio: 1;
}

.btn-login::after {
  content: "1";
  font-weight: 900;
  position: absolute;
  top: 0.2rem;
  left: -3.3rem;
  width: 2rem;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  position: relative;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  background-color: #fff;
  padding: 6rem 8rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  display: none;
}
.modal__title {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.modal.visible {
  display: flex;
}
.input {
  border: none;
  padding: 1rem;
  font-size: 2.6rem;
  background-color: #cacaca;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.form {
  display: flex;
  flex-direction: column;
}
.btn_login {
  position: relative;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
  font-size: 2.6rem;
  cursor: pointer;
}
.btn-logout {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-reg {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #324fdd;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.login_reg {
  margin-top: 2rem;
  cursor: pointer;
}

.profile-img {
  width: 6rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
  position: relative;
}

.pro-list {
  margin: 0;
  padding: 1rem;
  position: absolute;
  list-style: none;
  background-color: #cecece;
  top: 8rem;
  border-radius: 1rem;
}
.pro-item {
  margin-bottom: 1rem;
}
.pro-link {
  font-size: 1.6rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
