@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.app {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
