@import "./App.scss";
@import "./components/Profile/Profile.module.scss";

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
